@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
*{
    font-family: 'Asap', sans-serif;
}
body{
    margin:0;
    display: flex;
    flex-direction: column;
}
header{
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #1F1F1F;
    color:#6C6EF0;
    font-size: 42px;
    font-weight: bolder;
    height: 150px;
    padding: 0 250px;
}
.side-links{
    display: flex;
    gap: 16px;
    font-size: 16px;
}
.side-links a{
    text-decoration: none;
}
.side-links div{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 40px;
    border-radius: 20px;
    background-color:#6C6EF0;
    color:#1F1F1F;
    transition:0.2s;
}
.side-links div:hover{
    box-shadow: 0px 0px 10px 1px #6C6EF0;
}
section{
    display:flex;
    flex:1;
    flex-direction: column;
}
.introduction{
    background-color: #1F1F1F;
    display: flex;
    justify-content: space-between;
    padding: 75px 250px;
}
.introduction-description{
    display:flex;
    flex-direction: column;
    gap: 16px;
    width: 750px;
}
.introduction-description .big-text{
    color:#6C6EF0;
}
.introduction-description .small-text{
    text-align: justify;
    color:#6C6EF0;
}
.introduction-description button{
    width: 95px;
    height: 40px;
    border-radius: 20px;
    background-color:#6C6EF0;
    color:#1F1F1F;
    font-size: 16px;
    font-weight: bold;
    transition:0.2s;
}
.introduction-description button:hover{
    box-shadow: 0px 0px 10px 1px #6C6EF0;
}
.section-one, .section-two, .section-three{
    display: flex;
    padding: 75px 250px;
    gap: 48px;
}
.section-one{
    background-color: #6C6EF0;
}
.section-one .description{
    color:#21FFF8;
}
.section-two{
    flex-direction: row-reverse;
    background-color: #21FFF8;
}
.section-two .description{
    color: #6C6EF0;
}
.section-three{
    background-color: #B4F060;
}
.section-three .description{
    color:#6C6EF0;
}
.description{
    width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
}
.big-text{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
}
.questions{
    background-color: #6C6EF0;
    display: flex;
    flex-direction: row-reverse;
    gap: 48px;
    padding: 75px 250px;
}
.questions-container{
    display: flex;
    background-color: #1F1F1F;
    color:#6C6EF0;
    padding: 16px;
    border: 5px solid #1F1F1F;
    flex-direction: column;
    box-shadow: -10px 10px #292929;
    width: 700px;
}
.questions-container .big-text{
    text-align: center;
}
.questions-container form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
input,textarea{
    color:#6C6EF0;
}
input[type=text], input[type=email],textarea {
    background-color: #1F1F1F;
    border: none;
    border-bottom: 2px solid #6C6EF0;
}
input[type=text]:focus,input[type=email]:focus,textarea:focus {
    color:#6C6EF0;
    outline:none;
}
input[type=text]:valid{
    background-color: #1F1F1F;
    color:#6C6EF0;
}
input[type=submit]{
    width: 90px;
    background-color: #1F1F1F;
    color:#6C6EF0;
    border: 1px solid #6C6EF0;
    height: 30px;
    cursor: pointer;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #1F1F1F inset !important;
    -webkit-text-fill-color: #6C6EF0 !important;
}
.message-left{
    height:100px;
    box-sizing: border-box;
}
img{
    width: 350px;
}
footer{
    height: 90px;
    color:#6C6EF0;
    background-color: #1F1F1F;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer a{
    text-decoration: none;
    color: #6C6EF0;
}
footer a:hover{
    text-decoration: underline;
}
.social-links{
    display: flex;
    gap: 16px;
}
.social-links img{
    width: 30px;
    transition: 0.2s;
}
.social-links img:hover{
    transform: scale(1.1);
}